#container{
    display:flex;
    justify-content: center;
    align-items: center;
     width:1000px;
     height:500px;
     margin : auto 200px;
     border:20px solid rgb(179, 173, 173);
     background-color: rgb(196, 188, 188);
}

.right{
 width:60%;
 margin:100px auto;
 display:flex;
 justify-content: center;
}
.left{
  width:40%;
 
}
.btn{
    color:black;
    background-color: rgb(210, 149, 17);
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.8;
}